
h1 {
    color:rgb(123, 255, 0);
    font-size: 60px;
}
.box {
    width: 50%;
    height: 200px;
    margin: auto;
}
.ha {
    width: 100%;
    height: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr1XD4iJDl5jvgx1UdPDPnHBQr0E7PAT1yXQ&usqp=CAU);
box-sizing: border-box;
background


}
.li:hover {
    color:red
}
