.header {
    height: 120px;
    background-color: rgb(240, 62, 17);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar--list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

.header__navbar--iterm {
    margin: 0 8px;
}


/* mờ chữ khi di chuột */

.header__navbar--iterm:hover,
.header__navbar--iterm--link:hover {
    color: rgb(230, 208, 203);
    /* hiển thị hình bàn tay */
    cursor: pointer;
}

.header__navbar--iterm,
.header__navbar--iterm--link {
    display: inline-block;
    font-size: 18px;
    color: var(--white--color);
    /* bỏ gạch chân link */
    font-weight: 400;
    position: relative;
}


/*  ẩn hiện mã QR khi di chuột vào header */

.header__navbar--iterm--qrcode:hover .header__navbar--qr {
    display: block;
}

.header__navbar--icon {
    font-size: 1.8rem;
}


/* ko xuất hiện bàn tay và ko đổi màu  khi di chuột   */

.header__navbar--label {
    color: var(--white--color);
    cursor: text;
}

.header__navbar--qr {
    width: 130px;
    position: absolute;
    left: 0;
    top: 120%;
    display: none;
    animation: showHidden ease-in 0.5s;
}


/* tạo cầu nối giữa di chuột giữa khoảng link và image hiện ra mà 
không bị ẩn image */

.header__navbar--qr::before {
    position: absolute;
    content: "";
    top: -100%;
    left: 0;
    min-width: 150%;
    height: 100%;
    display: block;
}

.header__navbar--app {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}

.img__app {
    width: 80px;
    height: 20px;
    margin-right: 20px;
}


/* thoong baso */


/* hiển thị khi di chuột  */

.header__navbar--iterm:hover .header__notify {
    display: block;
}

.header__notify {
    /*  */
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    position: absolute;
    top: 120%;
    right: 0;
    width: 300px;
    background-color: var(--white--color);
    /*  hiển thị khi di chuột */
    display: none;
    animation: showHidden ease-in 0.5s;
}

.header__notify--header {}

.header__notify--header h3 {
    color: rgb(138, 138, 131);
    font-size: 15px;
    margin: 5px 0 0 12px;
}

.header__notify--listIterm {
    list-style: none;
    padding-left: 3px;
    margin-top: 10px;
}

.header__notify--iterm {
    margin: 0;
}

.header__notify--iterm--link {
    display: flex;
    /* bỏ dấu gạch chân */
    text-decoration: none;
    margin-bottom: 5px;
}

.header__notify--iterm--info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.header__notify--iterm--img {
    width: 60px;
    object-fit: cover;
    left: 0;
}

.header__notify--iterm--name {
    display: block;
    margin-top: 2px;
    font-size: 14px;
    color: black;
}

.header__notify--iterm--description {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(110, 109, 109);
}