:root {
    --white--color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: -8px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full__width {
    width: 100%;
}

.grid__now {
    display: flex;
    flex-wrap: wrap;
}

.grid__full__width {
    width: 100%;
}

.search {
    width: 1500px;
    height: 80px;
    max-width: 100%;
    background-color: blanchedalmond;
    margin: 0 auto;
}


/* Animation */

@keyframes showHidden {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}